<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stu.mgmt"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />
    <!-- 读取手机状态和身份 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 拥有完全的网络访问权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 修改或删除您的USB存储设备中的内容 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 查看网络连接 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.stu.mgmt.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stu.mgmt.RegisterActivity"
            android:label="@string/title_activity_register"></activity>
        <activity
            android:name="com.stu.mgmt.MainActivity"
            android:label="@string/title_activity_Main"></activity>
        <activity
            android:name="com.stu.mgmt.AddStudentInfoActivity"
            android:label="@string/title_activity_add_info"></activity>
        <activity
            android:name="com.stu.mgmt.PassRepairActivity"
            android:label="@string/title_activity_pass_repair"></activity>
        <activity
            android:name="com.stu.mgmt.ShowStudentInfoActivity"
            android:label="@string/title_activity_show_student_info"></activity>
        <activity
            android:name="com.stu.mgmt.WeihuStudentInfoActivity"
            android:label="@string/title_activity_weihu_student_info"></activity>
        <activity
            android:name="com.stu.mgmt.RepairStudentInfoActivity"
            android:label="@string/title_activity_repair_student_info"></activity>
        <activity
            android:name="com.stu.mgmt.AddStudentScoreActivity"
            android:label="@string/title_activity_add_student_score"></activity>
        <activity
            android:name="com.stu.mgmt.ShowStudentScoreActivity"
            android:label="@string/title_activity_show_student_score"></activity>
        <activity
            android:name="com.stu.mgmt.WeihuStudentScoreActivity"
            android:label="@string/title_activity_weihu_student_score"></activity>
        <activity
            android:name="com.stu.mgmt.RepairStudentScoreActivity"
            android:label="@string/title_activity_repair_student_score"></activity>
    </application>

</manifest>
